.card {
  display: flex;
  flex-direction: column;
  & > img {
    max-width: 100%;
    height: 250px;
    object-fit: contain;
  }
  &__name {
    font-size: 18px;
    font-weight: 600;
  }
  &__date {
    font-size: 13px;
  }
  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__descr {
    flex-grow: 1;
  }
}